    .panel-body a {
        word-break: break-all
    }
    
    body {
        font-family: "Times New Roman", Times, serif;
        background-image: url(images/titanic.png);
        position: relative;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    
    div label {
        font-size: 22px;
    }

    div.section {

        margin:auto;
        width:auto;
    }

   #wellSection{

  margin-left: 40px;
    height: 400px;
   }
    
    